{%extends "product/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4 card mt-2 mr-2 ml-2 mb-2">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>
            <div class="small">
                <p class="text-muted">Already have an account? <a href="{% url 'accounts:login' %}" class="ml-2">Login</a></p>
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
